<ion-header>
  <ion-toolbar>
    <ion-title>Medical Specialist Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submit()">
    <h2 class="sub">Specialist Title</h2>
    <ion-radio-group [(ngModel)]="specialist.title" name="title">
      <ion-item *ngFor="let title of titles">
        <ion-radio value="{{title.title}}" slot="start">
        </ion-radio>
        <ion-label>{{title.title}}</ion-label>
      </ion-item>
    </ion-radio-group>
    <h2 class="sub">Checkup Fee</h2>
    <ion-item>
      <ion-input type="number" [(ngModel)]="specialist.fee" name="fee"></ion-input>
    </ion-item>
    <ion-button id="submit" type="submit" expand="full" color="primary-red">Submit and
      Continue
      to App
    </ion-button>
  </form>
</ion-content>