:root {
   overflow: hidden;
}

.ion-color-primary-red {
   --ion-color-base: var(--ion-color-primary-red);
   --ion-color-base-rgb: var(--ion-color-primary-red-rgb);
   --ion-color-contrast: var(--ion-color-primary-red-contrast);
   --ion-color-contrast-rgb: var(--ion-color-primary-red-contrast-rgb);
   --ion-color-shade: var(--ion-color-primary-red-shade);
   --ion-color-tint: var(--ion-color-primary-red-tint);
   color: white;
}

.hero {
   padding-top: 5em;

   .hero-icon {
      display: flex;
      justify-content: center;
      height: 100px;
      width: 100px;
      margin: 0 auto;
   }

   h3 {
      font-weight: bolder;
      color: var(--ion-color-primary-red);
   }
}

.buttons {
   margin-top: 4em;

   * {
      margin: 20px 0;
   }
}