:root {
   overflow: hidden;
}

.ion-color-primary-red {
   --ion-color-base: var(--ion-color-primary-red);
   --ion-color-base-rgb: var(--ion-color-primary-red-rgb);
   --ion-color-contrast: var(--ion-color-primary-red-contrast);
   --ion-color-contrast-rgb: var(--ion-color-primary-red-contrast-rgb);
   --ion-color-shade: var(--ion-color-primary-red-shade);
   --ion-color-tint: var(--ion-color-primary-red-tint);
   color: white;
}

:host {
   .item-interactive.ion-valid {
      --highlight-background: var(--ion-color-primary-red) !important;
   }
}

.main {
   min-height: 100vh;
   overflow: hidden;
}

.hero {
   padding-top: 3em;

   .hero-icon {
      display: flex;
      justify-content: center;
      height: 100px;
      width: 100px;
      margin: 0 auto;
   }

   h3 {
      font-size: 2em;
      font-weight: bolder;
      color: var(--ion-color-primary-red)
   }

   p {
      font-size: .7em;
   }
}

.cta {
   form {
      margin-top: 2em;
   }

   ion-button {
      margin: 20px 0;
   }
}