<ion-content padding>
  <div class="hero">
    <div class="hero-icon">
      <img src="assets/icon.png" alt="">
    </div>
    <div class="ion-text-center">
      <h3>Login</h3>
    </div>
  </div>
  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-input type="text" [(ngModel)]="user.email_address" name="email" placeholder="Email Address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="user.password" name="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-button id="submit" type="submit" expand="full" color="primary-red">Login</ion-button>
  </form>
</ion-content>