:root {
   overflow: hidden;
}

.hero {
   padding-top: 2em;

   .hero-icon {
      display: flex;
      justify-content: center;
      height: 100px;
      width: 100px;
      margin: 0 auto;
   }
}

.buttons {
   margin-top: 4em;

   * {
      margin: 20px 0;
   }
}

#submit {
   margin-top: 2em;
}